<%- include('partials/header') %>
<main>
  <h1><%= title %></h1>
  <p>Hi, I am Jeff and this page is for my CSE340 assignment.</p>
  <p>I am still learning Express, but I am getting better each week.</p>
</main>
<%- include('partials/footer') %>
