<!DOCTYPE html>
<html>
<head>
  <title>404 - Not Found</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('../partials/header') %>
  <h1>404 - Not Found</h1>
  <p>Sorry, that page doesn't exist.</p>
  <p><a href="/">Go home</a></p>
  <%- include('../partials/footer') %>
</body>
</html>
