<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/main.css" />
  <% if (headAssets && headAssets.styles) { %>
    <% headAssets.styles.forEach((asset) => { %>
      <link rel="stylesheet" href="<%= asset.file %>" />
    <% }) %>
  <% } %>
  <% if (headAssets && headAssets.scripts) { %>
    <% headAssets.scripts.forEach((asset) => { %>
      <script src="<%= asset.file %>" defer></script>
    <% }) %>
  <% } %>
</head>
<body>
