<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <% for (const style of headAssets.styles) { %>
    <link rel="stylesheet" href="<%= style.file %>">
  <% } %>
  <% for (const script of headAssets.scripts) { %>
    <script src="<%= script.file %>" defer></script>
  <% } %>
</head>
<body>
